In [3]:
import pandas as pd
import numpy as np

In [18]:
# Creating a dictionary with different data types
data = {
    'int_column': [1, 2, 3, 4],
    'float_column': [1.5, 2.5, 3.5, 4.5],
    'str_column': ['a', 'b', 'c', 'd'],
    'bool_column': [True, False, True, False],
    'date_column': pd.date_range('2023-01-01', periods=4),
    'category_column': pd.Categorical(['x', 'y', 'z', 'x']),
    'object_column': [object(), object(), object(), object()],
    'nullable_column': [1.5, np.nan, 3.5, 4.5]
}

# Creating the DataFrame
df = pd.DataFrame(data)

# Displaying the DataFrame
df.head()

,int_column,float_column,str_column,bool_column,date_column,category_column,object_column,nullable_column
0,1,1.5,a,True,2023-01-01,x,<object object at 0x7f124fba8b20>,1.5
1,2,2.5,b,False,2023-01-02,y,<object object at 0x7f124fba8af0>,NaN
2,3,3.5,c,True,2023-01-03,z,<object object at 0x7f124fba8b30>,3.5
3,4,4.5,d,False,2023-01-04,x,<object object at 0x7f124fba8ac0>,4.5

In [17]:
df.to_csv('dummy_data.csv', index=False)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   int_column       4 non-null      int64
 1   float_column     4 non-null      float64
 2   str_column       4 non-null      object
 3   bool_column      4 non-null      bool
 4   date_column      4 non-null      datetime64[ns]
 5   category_column  4 non-null      category
 6   object_column    4 non-null      object
 7   nullable_column  3 non-null      float64
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 464.0+ bytes

In [30]:
import numpy as np

# Creating a DataFrame from a NumPy array
data = np.array([[1, 'A'], [2, 'B'], [3, 'C']])
df = pd.DataFrame(data, columns=['Column1', 'Column2'])
df

  Column1 Column2
0       1       A
1       2       B
2       3       C

In [20]:
# Creating a DataFrame from pandas Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series(['A', 'B', 'C'])
df = pd.DataFrame({'Column1': series1, 'Column2': series2})
df

   Column1 Column2
0        1       A
1        2       B
2        3       C

In [21]:
# Creating a DataFrame from a list of dictionaries
data = [{'Column1': 1, 'Column2': 'A'},
        {'Column1': 2, 'Column2': 'B'},
        {'Column1': 3, 'Column2': 'C'}]
df = pd.DataFrame(data)
df

   Column1 Column2
0        1       A
1        2       B
2        3       C

In [23]:
# Creating a DataFrame from a dictionary
data = {'Column1': [1, 2, 3], 'Column2': ['A', 'B', 'C']}
df = pd.DataFrame.from_dict(data)
df

   Column1 Column2
0        1       A
1        2       B
2        3       C

In [32]:
# Creating a DataFrame from a list of tuples
data = [(1, 'A'), (2, 'B'), (3, 'C')]
df = pd.DataFrame(data, columns=['Column1', 'Column2'])
df

   Column1 Column2
0        1       A
1        2       B
2        3       C

In [33]:
pd.DataFrame(columns=['Column1', 'Column2'])

Empty DataFrame
Columns: [Column1, Column2]
Index: []

In [34]:
# Creating a DataFrame from a 2D NumPy array
data = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6

In [36]:
data = [(1, 'A'), (2, 'B'), (3, 'C')]
df = pd.DataFrame(data, columns=['Column1', 'Column2'])
df

   Column1 Column2
0        1       A
1        2       B
2        3       C